<%- include('navbar') %>
    <div class="main-container">
        <h2 class="main-heading">TRENDY STYLES</h2>
        <div class="main-grid">
            <% item.forEach(element=> { %>
                <div class="main-items">
                    <div class="main-image-container">
                        <img src="<%=element.img%>" alt=" nopic" width="100%" class="main-image">
                    </div>
                    <div class="main-description">
                        <span style="display: none;">
                            <%= element.id %>
                        </span>
                        <a class="main-title" style="font-weight: 500;" href="/item/<%=element.id%> ">
                            <%= element.title %>
                        </a>
                        <p class="main-pricing" style="font-family: 'Roboto', sans-serif;">
                            <%= element.price %>
                        </p>
                        <div class="main-rating">
                            <% Array(Number(element.rating)).fill().forEach((item)=>{ %>
                                <i class="bi bi-star-fill"></i>
                                <%}) %>
                                    <% if (Number(element.rating)<5 && Number(element.rating)>0) { %>
                                        <% const length=5-Number(element.rating) %>
                                            <% Array(length).fill().forEach((item)=>{ %>
                                                <i class="bi bi-star"></i>

                                                <% })%>
                                                    <% } %>
                        </div>

                        <form action="/addToCart/<%= element.id %> " method="post">

                            <button type="submit" class="main-button">
                                Add to Cart
                            </button>
                        </form>

                    </div>
                </div>
                <% }) %>


        </div>
    </div>
    <%- include('footer') %>